.carousel-inner img {
	width: 100%;
	height: 100%;
}

.navbar-brand img {
	width: 175px;
	height: 80px;
}

.info {
	text-decoration: none;
	text-align: center;
	color: dimgrey;
	margin-top: 8px;
}

.img-hover img {
	transition: 0.5s;
	position: relative;
}

.img-hover img:hover {
	transform: scale(1.1);
}

.nav-item {
	margin: 5px 0;
	position: relative;
}

.motor-price {
	padding: 20px 0;
}

.product-name {
	font-weight: bold;
	text-transform: uppercase;
	margin-left: auto;
	padding: 10px 0;
}

.price-block {
	padding-left: 15px;
}

.price-bike {
	margin: 10px 0;
}

.price-bike-title {
	color: white;
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #b50000;
	text-transform: uppercase;
}

.row-price-bike {
	margin: 10px 0;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.row-price {
	text-align: right;
}

.input-icons i {
	position: absolute;
}

.input-icons {
	width: 100%;
	margin-bottom: 10px;
}

.icon {
	padding: 10px;
	min-width: 40px;
}

header {
	position: relative;
	background-color: black;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
}

header video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

header .container {
	position: relative;
	z-index: 2;
}

header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}

@media ( pointer : coarse) and (hover: none) {
	header {
		background: url('https://source.unsplash.com/XT5OInaElMw/1600x900')
			black no-repeat center center scroll;
	}
	header video {
		display: none;
	}
}

.bg-light {
	color: rgb(230, 224, 224);
}

.comment-wrapper .panel-body {
	max-height: 650px;
	overflow: auto;
}

.comment-wrapper .media-list .media img {
	width: 64px;
	height: 64px;
	border: 2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
	border-bottom: 1px dashed #efefef;
	margin-bottom: 25px;
}